<div class="splash-page-container">
  <div>
    <h1 class="splash-page-title">Budget App</h1>
  </div>

  <div class="auth-buttons">
    <%= link_to "Login", new_user_session_path, class: "auth-login-btn" %>
    <%= link_to "Signup", new_user_registration_path %>
  </div>
</div>
