* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f1;
}

/* SPLASH PAGE DESIGN STARTS HERE */

.splash-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .splash-page-title {
    font-size: 2rem;
    margin-bottom: 10rem;
  }

  .auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-buttons a {
    display: block;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #f0f2f1;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
  }

  .auth-buttons a:hover {
    background-color: #548aca;
    color: #ffffff;
  }

  .auth-buttons a:active {
    background-color: #548aca;
    color: #ffffff;
  }

/* SPLASH PAGE DESIGN ENGS HERE */

/* REGISTRATION PAGE DESIGN STARTS HERE */

  .auth-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #548aca;
    height: 80px;
  }

  .auth-direction {
    display: flex;
    align-items: center;
  }

  .direction a {
    color: #000000;
    text-decoration: none;
  }

  .auth-logo {
    font-size: 24px;
    font-weight: bold;
  }

  .submit-btn {
    margin-left: auto;
  }

  .submit-text {
    background-color: #548aca;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
  }

  .field {
    margin-bottom: 10px;
  }

  .field input[type="text"],
  .field input[type="email"],
  .field input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .actions {
    text-align: center;
  }

  .sign-up-text {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    border: none;
  }

/* REGISTRATION PAGE DESIGN ENDS HERE */

/* LOGIN PAGE DESIGN STARTS HERE */

  .forget-password-text {
    padding: 10px;
    color: grey;
    border: none;
    margin: 20px 100px;
    text-align: center;
    font-size: 18px;
  }

/* LOGIN PAGE DESIGN ENDS HERE */

/* MOBILE MENU DESIGN STARTS HERE */

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #3778c2;
  z-index: 9999;
  padding-left: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
  display: flex;
  flex-direction: column;
}

.menu--open {
  visibility: visible;
  opacity: 1;
}

.mobile-nav-ul {
  list-style: none;
}

.mobile-nav-item i {
  font-size: 34px;
  color: white;
}

.mobile-nav-item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.mobile-nav-item a,
.mobile-nav-item form {
  border-bottom: 1px solid white;
  width: 80%;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.mobile-nav-item form button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
}

.close-x {
  text-align: right;
  font-size: larger;
  margin: 20px 20px 70px;
}

.mobile-nav-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 10px;
}

.mobile-nav-name i {
  font-size: 80px;
}

.mobile-nav-name p {
  font-size: 14px;
  font-weight: 500;
}

/* MOBILE MENU ENDS HERE */

