.ham {
  width: 30px;
  filter: brightness(0) invert(1);
  margin-right: 2px;
}

.categories-header {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  background-color: #3778c2;
  font-weight: 500;
  height: 50px;
  width: 100%;
  align-items: center;
  color: #fff;
  padding: 20px 10px 5px 10px;
}

.categories-header a {
  text-decoration: none;
  color: #fff;
}

.mr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3778c2;
  padding: 20px 10px 15px 10px;
  color: #fff;
  font-size: small;
}

.mr h3 {
  margin-top: -10px;
}

img {
  width: 30px;
  margin-right: 2px;
}

.category-container,
.transaction-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  height: 70vh;
  overflow-y: auto;
}

.transaction-container {
  height: 53vh;
}

.category-container::-webkit-scrollbar,
.transaction-container::-webkit-scrollbar {
  display: none;
}

.category-container a {
  text-decoration: none;
  width: 100%;
  color: #434b54;
  font-weight: bold;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.category div img {
  width: 90px;
  height: 90px;
}

.category-name {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-name {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8b8e90;
  font-size: 15px;
}

.c-time {
  font-size: x-small;
  color: #8b8e90;
}

.c-amount {
  margin-bottom: 12px;
}

.new-cat {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5fb523;
  color: white;
  text-align: center;
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-cat a {
  border: #fff 2px solid;
  text-align: center;
  padding: 15px 20px 20px 20px;
  width: 90%;
  height: 50px;
  color: white;
  text-decoration: none;
}

.material-icons {
  font-size: 54px;
  color: white;
}

.create-category {
  padding: 10px;
  border: none;
  margin-top: 50px;
}

.form-select {
  height: 50px;
  width: 100%;
  border: #bfbbbb solid 1px;
  padding: 2% 4%;
}

.field-select {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field-select label {
  font-size: small;
  margin: 10px 0 5px 4%;
}
